.home-main {
  height: calc(100vh - var(--navbar-height) - 48px);
  overflow: hidden;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.home-title {
  text-align: center;
  color: var(--text-primary);
}

.home-map {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  display: flex;
}

.home-route-details {
  width: 320px;
  padding: 12px 0;
  background-color: var(--bg-secondary);
  margin: auto;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  border-radius: 4px;
}

.home-route-details p {
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
}
