nav {
  height: 48px;
  padding: 0 5%;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  gap: 36px;
}

nav a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--accent);
}

nav a.active {
  color: var(--accent);
  font-weight: 500;
}
