.search-section {
  width: fit-content;
  margin: auto;
  background-color: var(--bg-secondary);
  padding: 12px 36px;
  border-radius: 4px;
  position: relative;
}

.search-input-wrapper {
  display: flex;
  flex-direction: column;
}

.search-input-label {
  font-size: 0.8rem;
  color: var(--text-primary);
}
.search-input-field {
  border-radius: 4px;
  border: 2px solid var(--border);
}

.search-input-field:focus {
  border: 2px solid var(--accent);
  outline: none;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--bg-elevated);
  border: 1px solid var(--border);
  border-radius: 4px;
  z-index: 1000;
}

.search-dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}

.search-dropdown-item:hover {
  background-color: var(--bg-secondary);
}
